<div>
    <div>
        <img style="max-width: 100%;" src="/images/404.jpg" />
 <p>
            <a class="back" href="/">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </p>
    </div>
</div>