<div>
    <form method="post">
        <div class="container">
            <ul>
                <li>
                    <label for="title">Title:</label>
                    <input class="input" type="text" name="title">
                </li>
                <br>
                <li>
                    <label for="description">Synopsis:</label>
                    <br>
                    <textarea cols="100" rows="30" class="texterea" name="synopsis">
                </textarea>
                </li>
                <br>
                <li>
                    <label for="description">Description:</label>
                    <br>
                    <textarea cols="100" rows="30" class="texterea" name="description">
                </textarea>
                </li>
            </ul>
            <div>
                <button class="login-button" type="submit">save</button>
            </div>
        </div>
    </form>
</div>