<div>
    <form method="post">
        <div class="container">
            <ul>
                <li>
                    <label for="title">Titel:</label>
                    <input class="input" type="text" name="title">
                </li>

                <li>
                    <label for="description">Beschreibung:</label>
                    <textarea class="texterea" name="description">

                </textarea>
                </li>
            </ul>
            <div>
                <button class="login-button" type="submit">sparen</button>
            </div>
        </div>
    </form>
</div>