<form action="/admin" method="post">
    <div class="container">
        <div>
            <input class="input" type="text" placeholder="nennen.." name="username">
        </div>
        <br>
        <div>
            <input class="input" type="password" placeholder="kennwort.." name="password">

        </div>
        <br>
        <div>
            <button class="login-button" type="submit">Anmeldung</button>
        </div>
    </div>
</form>