<form action="/admin" method="post">
    <div class="container">
        <ul>
            <li>
                <label for="name">Name:</label>
                <input class="input" type="text" placeholder="...." name="username">
            </li>
            <li>
                <label for="password">Password:</label>
                <input class="input" type="password" placeholder="...." name="password">
            </li>
        </ul>
        <div>
            <button class="login-button" type="submit">login</button>
        </div>
    </div>
</form>