<div>
    <i>
        {{title}}
    </i>
    <h4>{{synopsis}}</h4>
</div>
<div>
    {{description}}
    <p>
        <a class="back" href="/aktuelles">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </p>
</div>