{{#if admin}}
<p>
    <a class="link-blue" href="/add-">hinzufügen</a>
</p>
{{/if}}
<div>
    <i>
        {{title}}
    </i>
    <h5>Wann: {{date}}</h5>
    <h5>Wo: {{place}}</h5>

</div>
<div>
    {{description}}
     <p>
        <a class="back" href="/aktuelles">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </p>
</div>