<div>
    <form method="post">
        <div class="container">
            <ul>
                <li>
                    <label for="title">Title:</label>
                    <input class="input" type="text" name="title" value="{{title}}">
                </li>
                <li>
                    <label for="description">Synopsis:</label>
                    <textarea class="texterea" type="text" name="synopsis">
                    {{synopsis}}
                    </textarea>
                </li>
                 <li>
                    <label for="description">Description:</label>
                    <textarea class="texterea" type="text" name="description">
                    {{description}}
                    </textarea>
                </li>
            </ul>
            <div>
                <button class="login-button" type="submit">save</button>
            </div>
        </div>
    </form>
</div>