<div>
    <h1>
        Institut für philosophische Bildungsforschung und Beratung
    </h1>
    <h4>Dr. Karin Hutflötz und Prof. Dr. Krassimir Stojanov</h4>
    <p>
        <b>Unsere Themen:</b> Philosophie in Bildung und Beruf. Werte- und Persönlichkeitsbildung.
        Bildungsgerechtigkeit und Normen menschenwürdigen Umgangs. Sinn und Orientierung im Denken,
        Handeln und Konfliktsituationen. Gesellschaftliche Transformationen und existenzielle Krisen.
    </p>
</div>
<div>
    <img class="logo2" src="/images/logo2.png" alt="">
</div>
