<div>
    <h2>
        Institut für philosophische Bildungsforschung und Beratung
    </h2>
    <p>
        Unsere Themen: Philosophie in Bildung und Beruf. Werte- und Persönlichkeitsbildung.
        Bildungsgerechtigkeit und Normen menschenwürdigen Umgangs. Sinn und Orientierung im Denken,
        Handeln und Konfliktsituationen. Gesellschaftliche Transformationen und existenzielle Krisen.
    </p>
</div>
<div>
    <img class="logo2" src="/images/logo2.png" alt="">
</div>