<div>
    <h4>
        Dr. Karin Hutflötz
    </h4>
    <span>
        <i style="margin: 0.5rem;" class="fa-solid fa-square-phone"></i>
        +49 89 26218489
    </span>
    <span style="display: flex;">
        <i style="margin: 0.5rem;" class="fa-solid fa-envelope"></i>
        karin.hutfloetz@gmx.de
    </span>
    <h4>
        Prof. Dr. Krassimir Stojanov
    </h4>
    <span>
        <i style="margin: 0.5rem;" class="fa-solid fa-square-phone"></i>
        +49 89 17108187
    </span>
    <span style="display: flex;">
        <i style="margin: 0.5rem;" class="fa-solid fa-envelope"></i>
        krassimirstojanov@yahoo.de
    </span>    
</div>
<div>
    <img src="/images/logo2.png" style="width: 80%;" , height="80%" alt="">
</div>