<div>
    <h3>
        Dr. Karin Hutflötz
    </h3>
    <p>
        <i style="margin: 0.5rem;" class="fa-solid fa-square-phone">+49 89 26218489</i>
    </p>
    <h3>
        Prof. Dr. Krassimir Stojanov
    </h3>
    <p>
        <i style="margin: 0.5rem;" class="fa-solid fa-square-phone">+49 89 17108187</i>
    </p>
    <h4>
        Kontakt
    </h4>
    <p>
        <i style="margin: 0.5rem;" class="fa-solid fa-envelope"></i>
        info@institut-philbb.de
    </p>
</div>
<div>
    <img src="/images/logo2.png" style="width: 80%;" , height="80%" alt="">
</div>