<div>
    <h2 class="ref-icon">
        <i class="fa-solid fa-book-bookmark"></i>
    </h2>
    <h3>
        Referenzen
    </h3>
</div>
<div>
    <p>
        <a class="anchs-ref" href="https://www.buechergilde.de/edition-zeitkritik-relaunch.506.html" target="_blank"
            rel="noreferrer">Presse</a>
    </p>
    <p>
        <a class="anchs-ref" href="https://www.kimege.de/ki-getriebener-wandel-der-gesellschaft/" target="_blank"
            rel="noreferrer">Projekte</a>
    </p>
    <h3>Publikationen</h3>
    <ul>
        <li>
            <a href="https://www.ku.de/fileadmin/120201/Dateien/Publikationen_Karin_Hutfloetz.pdf" target="_blank"
                rel="noreferrer">Dr. Karin Hutflötz</a>
        </li>
        <li>
            <a href="https://www.ku.de/ppf/paedagogik/lehrstuhl-fuer-bildungsphilosophie-und-systematische-paedagogik/team/prof-dr-krassimir-stojanov/publikationen"
                target="_blank" rel="noreferrer">Prof. Dr. Krassimir Stojanov</a>
        </li>
    </ul>
</div>