<div>
    <h4>Karin Hutflötz</h4>
    <a href="/wer/karin">
        <img class="portrait-wer" class="portrait" src="/images/karin.jpg" alt="">
    </a>
    <div>
        <a class="resume-icon" href="/wer/karin">
            <i class="fa-regular fa-address-book"></i>
        </a>
    </div>
</div>
<div>
    <h4>Krassimir Stojanov</h4>
    <a href="/wer/krassimir">
        <img class="portrait-wer" class="portrait" src="/images/krassimir.jpg" alt="">
    </a>
    <div>
        <a class="resume-icon" href="/wer/krassimir">
            <i class="fa-regular fa-address-book"></i>
        </a>
    </div>
</div>