<div>
    <div>
        <img class="portrait" src="/images/karin.jpg" alt="">
        <h4>Lebenslauf</h4>
        <p>Zur Person - <a class="anchs"
                href='https://www.ku.de/ppf/paedagogik/lehrstuhl-fuer-bildungsphilosophie-und-systematische-paedagogik/habilitand/in/dr-karin-hutfloetz'
                target="_blank" rel="noreferrer">ECKDATEN</a></p>
        <h4>Referenzen</h4>
        <ul>
            <li>
                Was heißt Menschenbildung im Dispositiv des Digitalen?, 2020 -
                <br>
                <a class="anchs" href="https://link.springer.com/book/10.1007/978-3-476-05673-3" target="_blank"
                    rel="noreferrer">lesen</a>
            </li>
            <li>
                Authenticity as a Benchmark of Human Selfhood?, 2020 -
                <br>
                <a class="anchs" href="https://link.springer.com/chapter/10.1007/978-3-658-29661-2_4" target="_blank"
                    rel="noreferrer">lesen</a>
            </li>
            <li>
                Zur Bedeutung von Kunst und ästhetischer Erfahrung für eine Bildung zum Widerstand?, 2020 -
                <br>
                <a class="anchs"
                    href="https://files.wbgwissenverbindet.de/Files/Article/ARTK_ZOA_1023735_0001.pdf">lesen</a>
            </li>
        </ul>
    </div>
    <br>
    <div>
        <h4>Dr. Karin Hutflötz</h4>
        <h4>Philosophin, Dozentin, Coach
        </h4>
        <p>
            Karin Hutflötz studierte Chemie, Mathematik und Philosophie und wurde mit einer Arbeit zur
            Existenzphilosophie promoviert. Nach Zusatzausbildungen zum Coach (CIP München) und zur
            Systemischen
            IFS-Beraterin (IFS-Institut München) war sie seit 2011 wissenschaftliche Mitarbeiterin und
            Vertretungsprofessorin an verschiedenen Universitäten. Sie leitete einen Studiengang zu
            Persönlichkeitsbildung im interkulturellen Kontext und Forschungsprojekte zu Wertebildung
            und
            Migration.
            Derzeit habilitiert sie zu Wertekonflikte als Bildungsort, forscht zu Menschenbildung im
            Dispositiv
            des
            Digitalen und zum gesellschaftlichen Wandel durch die Verheißungen der KI. Sie bietet
            Fortbildungen,
            entwickelt Bildungskonzepte und coacht Einzelne und Gruppen zu bildungsphilosophischen und
            existenziellen Themen.
        </p>
    </div>
</div>

<div>
    <div>
        <img class="portrait" src="/images/krassimir.jpg" alt="">
        <h4>Lebenslauf</h4>
        <p>Zur Person - <a class="anchs"
                href='https://www.ku.de/ppf/paedagogik/lehrstuhl-fuer-bildungsphilosophie-und-systematische-paedagogik/team/prof-dr-krassimir-stojanov'
                target="_blank" rel="noreferrer">ECKDATEN</a></p>
        <h4>Referenzen</h4>
        <ul>
            <li>
                Bildungsgerechtigkeit als gesellschaftskritische Kategorie?, 2021 -
                <br>
                <a class="anchs"
                    href="https://content-select.com/de/portal/media/view/61458186-c9e4-4bac-a5cd-2995c496b0fd"
                    target="_blank" rel="noreferrer">lesen</a>
            </li>
            <li>
                Education, Freedom, and Emancipation from the Standpoint of the Recognition Theory?, 2020 -
                <br>
                <a class="anchs"
                    href="https://www.ku.de/fileadmin/120201/Dateien/Interview_Axel_Honneth_on_Education__Sysiphus_301020.pdf"
                    target="_blank" rel="noreferrer">lesen</a>
            </li>
            <li>
                The design of the university: German, American, and ‘World Class’?, 2019 -
                <br>
                <a class="anchs"
                    href="https://www.tandfonline.com/doi/abs/10.1080/00131857.2017.1422339?journalCode=rept20"
                    target="_blank" rel="noreferrer">lesen</a>
            </li>
        </ul>

    </div>
    <div>
        <h4>Prof. Dr. Krassimir Stojanov</h4>
        <h4>Universitätsprofessor für Bildungsphilosophie, Entwickler sokratischer Bildungsformate
        </h4>
        <p>
            Krassimir Stojanov ist geboren in Goce Delcev/Bulgarien. Nach Studien- und Forschungsstationen
            unter anderem in Hannover, Hamburg, Frankfurt a.M. und New York war er als Professor an der
            Universität der Bundeswehr München tätig, bevor er 2012 zum Professor für Bildungsphilosophie an
            der KU Eichstätt-Ingolstadt berufen wurde. Zahlreche Publikationen zum Zusammenhang zwischen
            Bildung und erlebter Anerkennung, zur Bildungsgerechtigkeit, zu Bildungsprozessen im Kontext von
            Migration, zu Demokratiebildung sowie zum Populismus. Darüber hinaus ist Krassimir Stojanov auch
            ein Bildungspraktiker: Seit Jahren führt er sokratische Gespräche zur kommunikativen
            Werteklärung an verschiedenen Einrichtungen sowie Workshops zur Schlichtung interkultureller
            Konflikte durch.
        </p>
    </div>
</div>