<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institut für philosophische</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/logo2.png">
    <script src="https://kit.fontawesome.com/80919ea3be.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navigation">
        <input id="nav-toggle" type="checkbox">
        <div class="logo"><a href="/"><img src="/images/logo.png"></a></div>
        <ul class="links">
            <li><a class="nav-anch" href="/warum">Warum</a></li>
            <li><a class="nav-anch" href="/was">Was</a></li>
            <li><a class="nav-anch" href="/wer">Wer</a></li>
            <li><a class="nav-anch" href="/aktuelles">Aktuelles</a></li>
            <li><a class="nav-anch" href="/referenzen">Referenzen</a></li>
            {{#if admin}}
            <li><a class="nav-anch" href="/logout">Ausloggen</a></li>
            {{else}}
            <li><a class="nav-anch" href="/kontakt">Kontakt</a></li>
            {{/if}}
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    <section>
        <div class="container">
            <div class="flex">
                {{{body}}}
            </div>
        </div>
    </section>
</body>

</html>